body {
	margin: 0;
	color: white;
	background-color: black;
}

.pageCenter {
    text-align: center;
}

.pageContainer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	top: 5vmin;
	height: 90vmin;
	border: 1px solid rgba(255, 255, 255, .5);
}

#menubar {
    text-align: left;
    height: 4vmin;
    margin: 1vmin 1vmin 0 1vmin;
    padding: 0;
    list-style-type: none;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menubar > li {
    display: inline-block;
    padding: 1vmin 1vmin 0 1vmin;
    margin: 0;
    height: 3vmin;
    line-height: 2.5vmin;
    font-size: 2.5vmin;
    transition: background-color 0.2s;
    cursor: pointer;
}

#menubar > li:hover {
    background-color: gray;
}

.gameContainer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 85vmin;
	height: 85vmin;
	background-color: black;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.sidebar {
    display: inline-block;
    width: 200px;
    height: 84vmin;
    overflow: auto;
}

#automatune-instructions {
    color: gray;
    text-align: left;
}

.playback-icon {
    display: inline-block;
    width: 5vmin;
    height: 5vmin;
    padding: 1vmin;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 10%;
}

.playback-icon:hover {
    transition: background-color 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
}

.playback-icon.active {
    background-color: #AD2424;
}

.playback-icon.active:hover {
    background-color: red;
}

.playback-icon > img {
    width: 100%;
    height: 100%;
}

.gridCellDiv {
	position: absolute;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.2s, transform 0.5s;
	border-radius: 10%;
	transform: rotateY(180deg);
	cursor: pointer;
}

.gridCellDiv:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.gridCellDiv.active {
    transform: rotateY(0deg);
    background-color: rgba(255, 255, 255, 0.5);
}

.gridCellProperty {
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.gridCellProperty.active {
    visibility: visible;
}

.gridVisitor {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
}
