.gameContainer {
	position: relative;
	width: 800px;
	height: 800px;
	background-color: black;
}

.gridCell {
	position: absolute;
	background-color: white;
	opacity: 0.3;
	transition: opacity 0.2s;
}

.gridCell:hover {
	cursor: pointer;
	opacity: 0.5;
}
